# Coverage Testing Report

### GitHub Repository URL: https://github.com/JavaTheHut17/SoftTech_Group_06

---

The testing report should focus solely on <span style="color:red"> testing all the self-defined functions related to 
the five required features.</span> There is no need to test the GUI components. Therefore, it is essential to decouple your code and separate the logic from the GUI-related code.

You should perform statement coverage testing and branch coverage testing. For each type, provide a description and an analysis explaining how you evaluated the coverage.

## 1. **Test Summary**
list all tested functions related to the five required features, for example:

| **Tested Functions**    |
|-------------------------|
| `search_food()`         | 
| `nutrition_breakdown()` |
| `range_filter()`        |
| `high_med_low_filter()` |
| `high_low_filter()`     |
---

## 2. **Statement Coverage Test**

### 2.1 Description

Explain how you designed the test cases (i.e., test_all_functions.py) to reach 100% statement coverage.

### 2.2 Testing Results

![statement_coverage](../Milestone2/images/Statement_coverage_test.png)

## 3. **Branch Coverage Test**

### 3.1 Description

Explain how you designed the test cases (i.e., test_all_functions.py) to reach 100% branch coverage.

### 3.2 Testing Results


![statement_coverage](../Milestone2/images/branch_coverage_test.png)
